.about-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .mobile-about-image {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .desktop-about-image {
    display: none;
  }
}
